# Игнорировать временные файлы
*.tmp

# Игнорировать файлы конфигурации
config.ini

# Игнорировать директорию с логами
/logs/

# Игнорировать все файлы в директории temp/
temp/*

.venv
.vscode
.idea

__pycache__

ui/web/frontend/node_modules